*.DS_Store
/apidoc
/application/config/database.php
/application/config/zuvio.php
/application/config/development/zuvio.php
/application/controllers/tests
.sass-cache
git.pull
git.log
/node_modules
.idea/*
application/config/database-local-homestead.php
application/config/database-homestead.php
application/third-party/PHPStorm_CI_CC.php
application/logs/*.php
application/logs/*.log
application/cache/*
version.log
rev
application/views_release/
public/js_release/
public/css_release/
sessions/
mnt_sessions
vendor
*.swp
public/img/
public/img_dev/
public/pre_img/
public/pre_img_dev/
environment.php
public/ad/
/application/config/machine_check.php
/composer.phar
/application/config/cp_manual_users.php
/application/tests/tmp/*
